.App {
  text-align: center;
}

.card {
  max-width: 40%;
  display: inline-grid;
  margin: 5%;
}

.card img {
  max-width: 100%;
  box-shadow: 2px 2px 5px #1a1717;
}

#art-title{
  margin: auto;
}

#artist-name{
  margin: auto;
}